/*page css*/

.page{
    background-color: var(--clr-light-gray);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*top*/
  
  .top-con {
    width: 90%;
    height: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top-con p {
    color: var(--clr-txt-black);
    font-size: clamp(1.8rem, 1.6rem + .8vw, 2.2rem);
    font-weight: 600;
  }

  .main-con {
    width: 90%;
    height: 84%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .transnav-con-ts1 button{
    color: var(--clr-txt-black);
    background-color:var(--clr-white);
    border: none;
    text-decoration: none;
    border-radius: 30px;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transnav-con-ts2 button{
    color: var(--clr-txt-black);
    background-color:var(--clr-white);
    border: none;
    text-decoration: none;
    border-radius: 30px;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transnav-con-ts3 button{
    color: var(--clr-txt-black);
    background-color:var(--clr-white);
    border: none;
    text-decoration: none;
    border-radius: 30px;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .button-left img{
    height: 35%;
    margin-right: 5%;
  }

  .button-right img{
    height: 35%;
    margin-left: 5%;
  }

  .transnav-con p{
    font-size: 1.2rem;
    font-weight: 500
  }

  /* -------------------- transaction 1 --------------------- */
  

  /*options*/

  .options-ts1 {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .options-ts1 label {
    background-color: var(--clr-white);
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 15%;
    width: 100%;
  }

  .options-ts1 input {
    display: none;
  }

  
  .selection-ts1:checked + .show-ts1{
    background: var(--clr-grd-purple);
  }
  
  .selection-ts1:checked + .show-ts1 p{
    color: var(--clr-txt-white);
  }
  
  .options-ts1 img{
    height: 2rem;
    margin-left: 1.2rem;
  }

  .options-ts1 p {
    color: var(--clr-txt-black);
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 1.2rem;
  }


  /*transNav*/

  .transnav-con-ts1 {
    height: 6%;
    width: 100%;
    margin-top: 4.5rem;
    display: flex;
    justify-content: flex-end;
  }

  /* -------------------- transaction 2 --------------------- */

  /*options*/

  .options-ts2 {
    height: 40vh;
    width: 100%;
    display: grid;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .show-ts2 {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 60%;
  }

  .options-ts2 input {
    display: none;
  }

  .selection-ts2:checked + .show-ts2{ 
    opacity: 100%;
  }

  .options-ts2 img {
    height: 2.6rem;
  }

  .options-ts2 img {
    height: 2.6rem;
  }

  /*Income*/

  .salary {
    background-color: var(--clr-salary);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .dividend {
    background-color: var(--clr-dividend);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .business {
    background-color: var(--clr-business);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .rental {
    background-color: var(--clr-rental);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .other-income {
    background-color: var(--clr-other);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }


  /*Expenses*/

  .food {
    background-color: var(--clr-food);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .transport {
    background-color: var(--clr-transport);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .utility {
    background-color: var(--clr-utility);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .medication {
    background-color: var(--clr-medication);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .clothes {
    background-color: var(--clr-clothes);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .travel {
    background-color: var(--clr-travel);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .insurance {
    background-color: var(--clr-insurance);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .education {
    background-color: var(--clr-education);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .other-expense {
    background-color: var(--clr-other);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  /*savings*/

  .car {
    background-color: var(--clr-car);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .debt {
    background-color: var(--clr-debt);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .emergency {
    background-color: var(--clr-emergency);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gadgets {
    background-color: var(--clr-gadgets);
  }

  .house {
    background-color: var(--clr-house);
  }

  .retirement {
    background-color: var(--clr-retirement);
  }

  .vacation {
    background-color: var(--clr-vacation);
  }

  .other-saving{
    background-color: var(--clr-other);
  }

  /*transNav*/

  .transnav-con-ts2 {
    width: 100%;
    height: 6%;
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
  }


  /* -------------------- transaction 3 --------------------- */

  /*options*/

  .options-ts3 {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .options-ts3 form {
    height:20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .options-ts3 label{
    color: var(--clr-txt-black);
    font-size: 1.2rem;
    font-weight: 500;
  }

  .options-ts3 input {
    color: var(--clr-txt-black);
    background-color: var(--clr-white);
    height: 60%;
    border: none;
    border-radius: 30px;
    padding: 1rem;
  }

  .transnav-con-ts3 {
    height: 6%;
    width: 100%;
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
  }

  /*Nav*/
  
  .nav-con {
    background-color: var(--clr-white);
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /*logo*/
  
  .logo-con {
    display: none;
  }
  
  /*tabs*/
  
  .tabs-con {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .tabs-con img {
    width: 30px;
    height: 30px;
  }
  
  .tabs-con p {
    display: none;
  }
  
  /*selected*/
  .home-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wallet-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-link {
    background: var(--clr-grd-purple);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .savings-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .history-link {
    background: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*add*/
  
  .add-con {
    display: none;
  }

  /* javascript */

  #dnone{
    display: none;
  }

  .transaction-three input{
    display:block
  }
  
  @media screen and (min-width: 1024px) {
    .page{
      height: 100%;
      width: 85%;
      margin-left: 15%;
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
  
    /*top*/
  
    .top-con {
      height: 5.5%;
      margin-top: 0%;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    .top-con p{
      font-size: clamp(1.2rem, 1rem + .8vw, 1.6rem);
      font-weight: 500;
    }

    .main-con {
      width: 90%;
      height: 79.5%;
      margin-top: 3.2%;
    }

    /* -------------------- transaction 1 --------------------- */
  
    /*main*/

    .options-ts1 {
      width: 40%;
      margin-top: 6%;
    }

    .transnav-con-ts1 {
      width: 40%;
    }

    /* -------------------- transaction 2 --------------------- */

    /*main*/

    .options-ts2 {
      width: 40%;
      margin-top: 6%;
    }

    .transnav-con-ts2 {
      width: 40%;
    }


    /* -------------------- transaction 3 --------------------- */

    /*main*/

    .options-ts3 {
      width: 40%;
      margin-top: 6%;
    }

    .transnav-con-ts3 {
      width: 40%;
    }
      
    /*Nav*/
  
    .nav-con {
      width: 15%;
      height: 100%;
      left: 0;
      flex-direction: column;
    }

    /*logo*/
  
    .logo-con {
      display: inline;
      height: 5.5%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .logo-img {
      width: clamp(2rem, 1rem + 2vw, 2.8rem);
      height: clamp(2rem, 1rem + 2vw, 2.8rem);
      margin: .5rem;
    }
  
    .logo-txt {
      color: var(--clr-txt-black);
      font-size: clamp(1.2rem, 1rem + .5vw, 1.8rem);
      margin: .5rem;
      font-weight: 600;
    }
  
    /*tabs*/
  
    .tabs-con {
      width: 80%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .tabs-con img {
      margin: .8rem;
    }
  
    .tabs-con p {
      display: inline;
      font-size: clamp(.5rem, .6rem + .5vw, 1.5rem);
      font-weight: 500;
      margin: .8rem;
    }
  
    /*selected*/
    .home-link {
      background-color: var(--clr-light-gray);
      height: 9%;
      width: 100%;
      border-radius: 18px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .home-txt {
      color:var(--clr-txt-black);
    }
  
    .wallet-link {
      height: 9%;
      width: 100%;
      border-radius: 18px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .wallet-txt {
      color: var(--clr-txt-black);
    }
  
    .add-link {
      display: none;
    }
  
    .savings-link {
      background-color: var(--clr-light-gray);
      height: 9%;
      width: 100%;
      border-radius: 18px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .savings-txt {
      color: var(--clr-txt-black);
    }
  
    .history-link {
      background-color: var(--clr-light-gray);
      height: 9%;
      width: 100%;
      border-radius: 18px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .history-txt {
      color: var(--clr-txt-black);
    }
  
    /*add*/
  
    .add-con {
      display: inline;
      background: var(--clr-grd-purple);
      height: 5.5%;
      width: 80%;
      border-radius: 18px;
      display: flex;
      align-items: center;
    }
  
    .add-img {
      width: 30px;
      height: 30px;
      margin: clamp(.3rem, .2rem + .6vw, 1rem);;
    }
    
    .add-txt {
      color: var(--clr-txt-white);
      font-size: clamp(.75rem, .5rem + .5vw, 1.2rem);
      font-weight: 500;
      margin: clamp(.3rem, .2rem + .6vw, 1rem);;
    }
  }


  