.page{
    background-color: var(--clr-light-gray);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*top*/
  
  .top-con {
    width: 90%;
    height: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top-con p {
    color:var(--clr-txt-black);
    font-size: clamp(1.8rem, 1.6rem + .8vw, 2.2rem);
    font-weight: 600;
  }

  /*main*/

  .main-con {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .form-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  ::placeholder {
    color: var(--clr-txt-black);
  }

  .profile-il {
    background-color: var(--clr-white);
    margin-top: 2rem;
    border-radius: 100px;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .profile-img{
    height: 90%;
  }

  .first-name-con {
    color: var(--clr-txt-black);
    background-color: var(--clr-white);
    margin-top: 3rem;
    border: none;
    border-radius: 100px;
    height: 3rem;
    padding: 1rem;
    width: 100%;
  }

  .last-name-con {
    color: var(--clr-txt-black);
    background-color: var(--clr-white);
    margin-top: 3rem;
    border: none;
    border-radius: 100px;
    height: 3rem;
    padding: 1rem;
    width: 100%;
  }

  .password-con {
    color: var(--clr-txt-black);
    background-color: var(--clr-white);
    margin-top: 3rem;
    border: none;
    border-radius: 100px;
    height: 3rem;
    padding: 1rem;
    width: 100%;
  }

  .buttons-con {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .save-button {
    color: var(--clr-txt-black);
    background-color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    height: 3rem;
    padding: 1rem;
    width: 30%;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .back-button {
    color: var(--clr-txt-white);
    background-color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
    height: 3rem;
    padding: 1rem;
    width:30%;
    font-size: 1.6rem;
    font-weight: 500;
  }

  /*Nav*/
  
  .nav-con {
    background-color: var(--clr-white);
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /*logo*/
  
  .logo-con {
    display: none;
  }
  
  /*tabs*/
  
  .tabs-con {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .tabs-con img {
    width: 30px;
    height: 30px;
  }
  
  .tabs-con p {
    display: none;
  }
  
  /*selected*/
  .home-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wallet-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-link {
    background: var(--clr-grd-purple);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .savings-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .history-link {
    background: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*add*/
  
  .add-con {
    display: none;
  }

  /* javascript */

  #dnone{
    display: none;
  }

  .transaction-three input{
    display:block
  }

  @media screen and (min-width: 1024px) {
    .page{
      height: 100%;
      width: 85%;
      margin-left: 15%;
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
  
    /*top*/
  
    .top-con {
      height: 5.5%;
      margin-top: 0%;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    .top-con p{
      font-size: clamp(1.2rem, 1rem + .8vw, 1.6rem);
      font-weight: 500;
    }

    /*main*/

    .main-con {
      width: 40%;
    }

    /*Nav*/
  
    .nav-con {
        width: 15%;
        height: 100%;
        left: 0;
        flex-direction: column;
      }
  
      /*logo*/
    
      .logo-con {
        display: inline;
        height: 5.5%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .logo-img {
        width: clamp(2rem, 1rem + 2vw, 2.8rem);
        height: clamp(2rem, 1rem + 2vw, 2.8rem);
        margin: .5rem;
      }
    
      .logo-txt {
        color: var(--clr-txt-black);
        font-size: clamp(1.2rem, 1rem + .5vw, 1.8rem);
        margin: .5rem;
        font-weight: 600;
      }
    
      /*tabs*/
    
      .tabs-con {
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    
      .tabs-con img {
        margin: .8rem;
      }
    
      .tabs-con p {
        display: inline;
        font-size: clamp(.5rem, .6rem + .5vw, 1.5rem);
        font-weight: 500;
        margin: .8rem;
      }
    
      /*selected*/
      .home-link {
        background-color: var(--clr-light-gray);
        height: 9%;
        width: 100%;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .home-txt {
        color:var(--clr-txt-black);
      }
    
      .wallet-link {
        height: 9%;
        width: 100%;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .wallet-txt {
        color: var(--clr-txt-black);
      }
    
      .add-link {
        display: none;
      }
    
      .savings-link {
        background-color: var(--clr-light-gray);
        height: 9%;
        width: 100%;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .savings-txt {
        color: var(--clr-txt-black);
      }
    
      .history-link {
        background-color: var(--clr-light-gray);
        height: 9%;
        width: 100%;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .history-txt {
        color: var(--clr-txt-black);
      }
    
      /*add*/
    
      .add-con {
        display: inline;
        background: var(--clr-grd-purple);
        height: 5.5%;
        width: 80%;
        border-radius: 18px;
        display: flex;
        align-items: center;
      }
    
      .add-img {
        width: 30px;
        height: 30px;
        margin: clamp(.3rem, .2rem + .6vw, 1rem);;
      }
      
      .add-txt {
        color: var(--clr-txt-white);
        font-size: clamp(.75rem, .5rem + .5vw, 1.2rem);
        font-weight: 500;
        margin: clamp(.3rem, .2rem + .6vw, 1rem);;
      }
  }