/*page css*/

.page{
    background-color: var(--clr-light-gray);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*top*/
  
  .top-con {
    width: 90%;
    height: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top-con p {
    color:var(--clr-txt-black);
    font-size: clamp(1.8rem, 1.6rem + .8vw, 2.2rem);
    font-weight: 600;
  }

  /*main*/

  .main-con {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .left-con {
    display: flex;
    align-items: center;
  }

  /*account title*/

  .account-con {
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
  }

  .account-txt {
    color: var(--clr-txt-black);
    font-size: 2rem;
    font-weight: 500;
  }

  /*account settings*/

  .account-settings-con {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile-il {
    background-color: var(--clr-white);
    border-radius: 100px;
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .profile-img{
    height: 90%;
  }

  .profile-name-con {
    display: flex;
    margin-left: 1.4rem;
  }

  .profile-name-con p {
    color: var(--clr-txt-black);
    font-size: 1.2rem;
    font-weight: 500;
  }

  .profile-settings-button {
    background-color: var(--clr-white);
    border-radius: 100px;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-settings-img {
    height: 60%;
  }

  /*preferences title*/

  .preferences-con {
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
  }

  .preferences-txt {
    color: var(--clr-txt-black);
    font-size: 2rem;
    font-weight: 500;
  }

  /*dark mode*/

  .dark-con {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dark-il {
    background-color: var(--clr-white);
    border-radius: 100px;
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .dark-il-img {
    height: 2.4rem;
  }
  .dark-txt {
    color: var(--clr-txt-black);
    margin-left: 1.4rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  /*switch*/

  .toggle-switch {
    height: 100%;
    width: 4rem;
  }

  input {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 4rem;
    height: 2.2rem;
    background-color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--clr-black);
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background-color: var(--clr-white);
  }
  
  input:checked + label:after {
    background-color: var(--clr-light-gray);
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 40%;
    height: 70%;
  }

  /*currency*/

  .currency-con {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .currency-il {
    background-color: var(--clr-white);
    border-radius: 100px;
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .currency-il-img {
    height: 2.4rem;
  }
  .currency-txt {
    color: var(--clr-txt-black);
    margin-left: 1.4rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .currency-con select{
    background-color: var(--clr-white);
    color: var(--clr-txt-black);
    border: none;
    padding: .4rem;
    border-radius: 100px;
    height: 2.6rem;
    width: 4.6rem;
  }

  .currency-con option {
    background-color: var(--clr-white);
    color: var(--clr-txt-black);
  }

  /*logout*/

  .logout-con {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logout-il {
    background-color: var(--clr-white);
    border-radius: 100px;
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .logout-il-img {
    height: 2.4rem;
  }
  .logout-txt {
    color: var(--clr-txt-black);
    margin-left: 1.4rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .logout-button {
    background-color: var(--clr-white);
    border-radius: 100px;
    height: 3rem;
    width: 3rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logout-img {
    height: 60%;
  }

  /*Nav*/
  
  .nav-con {
    background-color: var(--clr-white);
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /*logo*/
  
  .logo-con {
    display: none;
  }
  
  /*tabs*/
  
  .tabs-con {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .tabs-con img {
    width: 30px;
    height: 30px;
  }
  
  .tabs-con p {
    display: none;
  }
  
  /*selected*/
  .home-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wallet-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-link {
    background: var(--clr-grd-purple);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .savings-link {
    background-color: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .history-link {
    background: var(--clr-light-gray);
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*add*/
  
  .add-con {
    display: none;
  }

  /* javascript */

  #dnone{
    display: none;
  }

  .transaction-three input{
    display:block
  }

  @media screen and (min-width: 1024px) {
    .page{
      height: 100%;
      width: 85%;
      margin-left: 15%;
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
  
    /*top*/
  
    .top-con {
      height: 5.5%;
      margin-top: 0%;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    .top-con p{
      font-size: clamp(1.2rem, 1rem + .8vw, 1.6rem);
      font-weight: 500;
    }

    /*main*/

    /*Nav*/
  
    .nav-con {
        width: 15%;
        height: 100%;
        left: 0;
        flex-direction: column;
      }
  
      /*logo*/
    
      .logo-con {
        display: inline;
        height: 5.5%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .logo-img {
        width: clamp(2rem, 1rem + 2vw, 2.8rem);
        height: clamp(2rem, 1rem + 2vw, 2.8rem);
        margin: .5rem;
      }
    
      .logo-txt {
        color: var(--clr-txt-black);
        font-size: clamp(1.2rem, 1rem + .5vw, 1.8rem);
        margin: .5rem;
        font-weight: 600;
      }
    
      /*tabs*/
    
      .tabs-con {
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    
      .tabs-con img {
        margin: .8rem;
      }
    
      .tabs-con p {
        display: inline;
        font-size: clamp(.5rem, .6rem + .5vw, 1.5rem);
        font-weight: 500;
        margin: .8rem;
      }
    
      /*selected*/
      .home-link {
        background-color: var(--clr-light-gray);
        height: 9%;
        width: 100%;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .home-txt {
        color:var(--clr-txt-black);
      }
    
      .wallet-link {
        height: 9%;
        width: 100%;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .wallet-txt {
        color: var(--clr-txt-black);
      }
    
      .add-link {
        display: none;
      }
    
      .savings-link {
        background-color: var(--clr-light-gray);
        height: 9%;
        width: 100%;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .savings-txt {
        color: var(--clr-txt-black);
      }
    
      .history-link {
        background-color: var(--clr-light-gray);
        height: 9%;
        width: 100%;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .history-txt {
        color: var(--clr-txt-black);
      }
    
      /*add*/
    
      .add-con {
        display: inline;
        background: var(--clr-grd-purple);
        height: 5.5%;
        width: 80%;
        border-radius: 18px;
        display: flex;
        align-items: center;
      }
    
      .add-img {
        width: 30px;
        height: 30px;
        margin: clamp(.3rem, .2rem + .6vw, 1rem);;
      }
      
      .add-txt {
        color: var(--clr-txt-white);
        font-size: clamp(.75rem, .5rem + .5vw, 1.2rem);
        font-weight: 500;
        margin: clamp(.3rem, .2rem + .6vw, 1rem);;
      }
  }